div.bgCars{
    background-color: whitesmoke;
    border: grey solid 1px;
    padding: 5px;
    margin: 5px;
    border-radius: 12px;
    height: 250px;
    width: 40%;
    float: left;
    position: relative;
    left: 250px;
}

div.carList{
    overflow-y: scroll;
    height: 550px;
    
}

div.offlot{
    border: solid lightgray 2px;
    height: 150px;
    padding-top: 20px;
    position: relative;
    top: 20px;
}
img.offlot-img{
    position: relative;
    bottom: 20px;
    height: 130px;
}

p.offlot{
    
    text-align: left;
}
img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 35px;
    bottom: px;
}

h3{
text-align: end;
position: relative;
right: 35px;
}

section{
    text-align: end;
    position: relative;
    bottom: 125px;
    right: 35px;
}

p{
    font-weight: bold;
    font-size: larger;
}