div.signUpform{
    width: 500px;
    height: 400px;
    background-color: lightslategrey;
    position: relative;
    left: 32%;
    top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
}

h1{
    text-align: center;
    padding-top: 75px;
}

button{
    position: relative;
    left: 42%;
    top: 20px;
}

input{
    margin-top: 25px;
}